In [1]:
# Problem: Filter rows where Age is greater than 24 and Gender is 'Male'.

import pandas as pd

# Create the initial DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve'],
    'Age': [25, 30, 22, 27],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Gender': ['Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Filter rows where Age > 24 and Gender == 'Male'
filtered_df = df[(df['Age'] > 24) & (df['Gender'] == 'Male')]

# Output the result
print("Filtered rows where Age > 24 and Gender == 'Male':")
filtered_df

Filtered rows where Age > 24 and Gender == 'Male':

   Name  Age      City Gender
0  John   25  New York   Male

In [2]:
# Problem: Add a new column 'Category' to the DataFrame. Assign:
# - 'Senior' if Age >= 30
# - 'Adult' if 24 <= Age < 30
# - 'Young' otherwise

# Add a new column 'Category' based on the Age column
df['Category'] = df['Age'].apply(
    lambda x: 'Senior' if x >= 30 else 'Adult' if 24 <= x < 30 else 'Young'
)

# Output the updated DataFrame
print("DataFrame after adding the 'Category' column:")
df

DataFrame after adding the 'Category' column:

    Name  Age         City  Gender Category
0   John   25     New York    Male    Adult
1  Alice   30  Los Angeles  Female   Senior
2    Bob   22      Chicago    Male    Young
3    Eve   27      Houston  Female    Adult

In [3]:
# Problem: Calculate the average 'Age' for each 'Gender'.

# Group by Gender and calculate the mean Age
avg_age_by_gender = df.groupby('Gender')['Age'].mean()

# Output the result
print("Average Age by Gender:")
print(avg_age_by_gender)

Average Age by Gender:
Gender
Female    28.5
Male      23.5
Name: Age, dtype: float64

In [4]:
# Problem: Sort the DataFrame by 'Category' (ascending) and 'Age' (descending).

# Sort by 'Category' and 'Age'
sorted_df = df.sort_values(by=['Category', 'Age'], ascending=[True, False])

# Output the sorted DataFrame
print("DataFrame sorted by 'Category' and 'Age':")
print(sorted_df)

DataFrame sorted by 'Category' and 'Age':
    Name  Age         City  Gender Category
3    Eve   27      Houston  Female    Adult
0   John   25     New York    Male    Adult
1  Alice   30  Los Angeles  Female   Senior
2    Bob   22      Chicago    Male    Young

In [5]:
# Problem: From the DataFrame, find the top 2 oldest people in each Gender group.

import pandas as pd

# Create the initial DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Michael', 'Sophia'],
    'Age': [25, 30, 22, 27, 35, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Seattle', 'Austin'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Find the top 2 oldest people in each Gender group
top_n_by_gender = df.sort_values(by='Age', ascending=False).groupby('Gender').head(2)

# Output the result
print("Top 2 oldest people in each Gender group:")
top_n_by_gender

Top 2 oldest people in each Gender group:

      Name  Age         City  Gender
4  Michael   35      Seattle    Male
1    Alice   30  Los Angeles  Female
5   Sophia   29       Austin  Female
0     John   25     New York    Male

In [6]:
# Problem: Add a new column that calculates the cumulative sum of 'Age' for each Gender.

# Calculate the cumulative sum of Age within each Gender group
df['Cumulative_Age'] = df.groupby('Gender')['Age'].cumsum()

# Output the updated DataFrame
print("DataFrame with Cumulative Sum of 'Age' for each Gender:")
df

DataFrame with Cumulative Sum of 'Age' for each Gender:

      Name  Age         City  Gender  Cumulative_Age
0     John   25     New York    Male              25
1    Alice   30  Los Angeles  Female              30
2      Bob   22      Chicago    Male              47
3      Eve   27      Houston  Female              57
4  Michael   35      Seattle    Male              82
5   Sophia   29       Austin  Female              86

In [7]:
# Problem: Create a pivot table showing the average and maximum 'Age' for each Gender and City.

# Create the pivot table
pivot = df.pivot_table(
    values='Age',
    index='Gender',
    columns='City',
    aggfunc=['mean', 'max'],
    fill_value=0
)

# Output the pivot table
print("Pivot table with average and maximum 'Age':")
pivot

Pivot table with average and maximum 'Age':

         mean                                                 max          \
City   Austin Chicago Houston Los Angeles New York Seattle Austin Chicago
Gender
Female   29.0     0.0    27.0        30.0      0.0     0.0     29       0
Male      0.0    22.0     0.0         0.0     25.0    35.0      0      22


City   Houston Los Angeles New York Seattle
Gender
Female      27          30        0       0
Male         0           0       25      35

In [8]:
# Problem: Calculate the percentage distribution of each Gender in the DataFrame.

# Calculate the percentage distribution
gender_percentage = (df['Gender'].value_counts(normalize=True) * 100).round(2)

# Output the result
print("Percentage distribution of each Gender:")
print(gender_percentage)

Percentage distribution of each Gender:
Gender
Male      50.0
Female    50.0
Name: proportion, dtype: float64

In [9]:
# Problem: Detect and replace outliers in the 'Age' column using the IQR method.
import numpy as np

# Calculate the IQR (Interquartile Range)
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Replace outliers with the median Age
median_age = df['Age'].median()
df['Age_Cleaned'] = df['Age'].apply(lambda x: median_age if x < lower_bound or x > upper_bound else x)

# Output the DataFrame with cleaned Age column
print("DataFrame after handling outliers in the 'Age' column:")
print(df)

DataFrame after handling outliers in the 'Age' column:
      Name  Age         City  Gender  Cumulative_Age  Age_Cleaned
0     John   25     New York    Male              25           25
1    Alice   30  Los Angeles  Female              30           30
2      Bob   22      Chicago    Male              47           22
3      Eve   27      Houston  Female              57           27
4  Michael   35      Seattle    Male              82           35
5   Sophia   29       Austin  Female              86           29

In [10]:
# Problem: Calculate a 3-period rolling average of the 'Age' column.

import pandas as pd

# Create the initial DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Michael', 'Sophia'],
    'Age': [25, 30, 22, 27, 35, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Seattle', 'Austin'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Calculate the 3-period rolling average of 'Age'
df['Rolling_Average_Age'] = df['Age'].rolling(window=3).mean()

# Output the updated DataFrame
print("DataFrame with 3-period rolling average of 'Age':")
print(df)

DataFrame with 3-period rolling average of 'Age':
      Name  Age         City  Gender  Rolling_Average_Age
0     John   25     New York    Male                  NaN
1    Alice   30  Los Angeles  Female                  NaN
2      Bob   22      Chicago    Male            25.666667
3      Eve   27      Houston  Female            26.333333
4  Michael   35      Seattle    Male            28.000000
5   Sophia   29       Austin  Female            30.333333

In [11]:
# Problem: Add a new column 'Age_Squared' by squaring the values in the 'Age' column.

# Define a custom function to square a number
def square(x):
    return x ** 2

# Apply the function to the 'Age' column
df['Age_Squared'] = df['Age'].apply(square)

# Output the updated DataFrame
print("DataFrame with 'Age_Squared' column:")
print(df)

DataFrame with 'Age_Squared' column:
      Name  Age         City  Gender  Rolling_Average_Age  Age_Squared
0     John   25     New York    Male                  NaN          625
1    Alice   30  Los Angeles  Female                  NaN          900
2      Bob   22      Chicago    Male            25.666667          484
3      Eve   27      Houston  Female            26.333333          729
4  Michael   35      Seattle    Male            28.000000         1225
5   Sophia   29       Austin  Female            30.333333          841

In [12]:
# Problem: Replace all 'Age' values greater than 30 with the string 'Senior'.

# Replace values in 'Age' column based on a condition
df['Age_Updated'] = df['Age'].apply(lambda x: 'Senior' if x > 30 else x)

# Output the updated DataFrame
print("DataFrame with 'Age' values replaced based on a condition:")
print(df)

DataFrame with 'Age' values replaced based on a condition:
      Name  Age         City  Gender  Rolling_Average_Age  Age_Squared  \
0     John   25     New York    Male                  NaN          625
1    Alice   30  Los Angeles  Female                  NaN          900
2      Bob   22      Chicago    Male            25.666667          484
3      Eve   27      Houston  Female            26.333333          729
4  Michael   35      Seattle    Male            28.000000         1225
5   Sophia   29       Austin  Female            30.333333          841

  Age_Updated
0          25
1          30
2          22
3          27
4      Senior
5          29

In [13]:
# Problem: Count the number of unique cities in the DataFrame.

# Count unique cities
unique_cities_count = df['City'].nunique()

# Output the result
print(f"Number of unique cities: {unique_cities_count}")

Number of unique cities: 6

In [14]:
# Problem: Create a new DataFrame with the sum of 'Age' for each Gender group.

# Group by Gender and sum the 'Age' column
gender_age_sum = df.groupby('Gender')['Age'].sum().reset_index()

# Output the new DataFrame
print("New DataFrame with sum of 'Age' for each Gender:")
print(gender_age_sum)

New DataFrame with sum of 'Age' for each Gender:
   Gender  Age
0  Female   86
1    Male   82

In [15]:
# Problem: Rank the rows within each Gender group by 'Age', assigning 1 to the oldest.

# Rank within each Gender group
df['Age_Rank'] = df.groupby('Gender')['Age'].rank(ascending=False)

# Output the updated DataFrame
print("DataFrame with Age rank within Gender groups:")
print(df)

DataFrame with Age rank within Gender groups:
      Name  Age         City  Gender  Rolling_Average_Age  Age_Squared  \
0     John   25     New York    Male                  NaN          625
1    Alice   30  Los Angeles  Female                  NaN          900
2      Bob   22      Chicago    Male            25.666667          484
3      Eve   27      Houston  Female            26.333333          729
4  Michael   35      Seattle    Male            28.000000         1225
5   Sophia   29       Austin  Female            30.333333          841

  Age_Updated  Age_Rank
0          25       2.0
1          30       1.0
2          22       3.0
3          27       3.0
4      Senior       1.0
5          29       2.0

In [16]:
# Problem: Calculate the percent change in 'Age' for consecutive rows.

# Calculate percent change in 'Age'
df['Age_Percent_Change'] = df['Age'].pct_change() * 100

# Output the updated DataFrame
print("DataFrame with percent change in 'Age':")
print(df)

DataFrame with percent change in 'Age':
      Name  Age         City  Gender  Rolling_Average_Age  Age_Squared  \
0     John   25     New York    Male                  NaN          625
1    Alice   30  Los Angeles  Female                  NaN          900
2      Bob   22      Chicago    Male            25.666667          484
3      Eve   27      Houston  Female            26.333333          729
4  Michael   35      Seattle    Male            28.000000         1225
5   Sophia   29       Austin  Female            30.333333          841

  Age_Updated  Age_Rank  Age_Percent_Change
0          25       2.0                 NaN
1          30       1.0           20.000000
2          22       3.0          -26.666667
3          27       3.0           22.727273
4      Senior       1.0           29.629630
5          29       2.0          -17.142857

In [17]:
# Problem: Convert a string column to datetime format and extract year, month, and day.

import pandas as pd

# Create a DataFrame with a date column in string format
data = {'Name': ['John', 'Alice', 'Bob', 'Eve'],
        'Join_Date': ['2023-01-15', '2021-06-10', '2022-03-05', '2020-11-20']}

df = pd.DataFrame(data)

# Convert the 'Join_Date' column to datetime format
df['Join_Date'] = pd.to_datetime(df['Join_Date'])

# Extract year, month, and day from the 'Join_Date' column
df['Year'] = df['Join_Date'].dt.year
df['Month'] = df['Join_Date'].dt.month
df['Day'] = df['Join_Date'].dt.day

# Output the updated DataFrame
print("DataFrame with year, month, and day extracted:")
print(df)

DataFrame with year, month, and day extracted:
    Name  Join_Date  Year  Month  Day
0   John 2023-01-15  2023      1   15
1  Alice 2021-06-10  2021      6   10
2    Bob 2022-03-05  2022      3    5
3    Eve 2020-11-20  2020     11   20

In [18]:
# Problem: Find and remove duplicate rows in the DataFrame.

# Create a DataFrame with duplicate rows
data = {'Name': ['John', 'Alice', 'Bob', 'Alice'],
        'Age': [25, 30, 22, 30],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Los Angeles']}

df = pd.DataFrame(data)

# Find duplicate rows
duplicates = df[df.duplicated()]

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Output the results
print("Duplicate rows:")
print(duplicates)
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

Duplicate rows:
    Name  Age         City
3  Alice   30  Los Angeles

DataFrame after removing duplicates:
    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   22      Chicago

In [19]:
# Problem: Merge two DataFrames on multiple keys (Name and City).

# Create two DataFrames
df1 = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                    'City': ['New York', 'Los Angeles', 'Chicago'],
                    'Age': [25, 30, 22]})

df2 = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                    'City': ['New York', 'Los Angeles', 'Seattle'],
                    'Salary': [70000, 80000, 60000]})

# Merge on multiple keys
merged_df = pd.merge(df1, df2, on=['Name', 'City'], how='inner')

# Output the merged DataFrame
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
    Name         City  Age  Salary
0   John     New York   25   70000
1  Alice  Los Angeles   30   80000

In [20]:
# Problem: Group by Gender and calculate custom aggregations: average Age and count of rows.

# Create the initial DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Michael', 'Sophia'],
        'Age': [25, 30, 22, 27, 35, 29],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Group by Gender and apply custom aggregations
agg_df = df.groupby('Gender').agg(
    Avg_Age=('Age', 'mean'),
    Count=('Name', 'size')
).reset_index()

# Output the aggregated DataFrame
print("Aggregated DataFrame with custom functions:")
print(agg_df)

Aggregated DataFrame with custom functions:
   Gender    Avg_Age  Count
0  Female  28.666667      3
1    Male  27.333333      3

In [21]:
# Problem: Reshape the DataFrame using the melt function to make it long-form.

# Create a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Math': [85, 90, 78],
        'Science': [92, 88, 80]}

df = pd.DataFrame(data)

# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')

# Output the melted DataFrame
print("Melted DataFrame:")
print(melted_df)

Melted DataFrame:
    Name  Subject  Score
0   John     Math     85
1  Alice     Math     90
2    Bob     Math     78
3   John  Science     92
4  Alice  Science     88
5    Bob  Science     80

In [22]:
# Problem: Pivot the melted DataFrame back to its original wide format.

# Pivot the melted DataFrame
pivoted_df = melted_df.pivot(index='Name', columns='Subject', values='Score').reset_index()

# Output the pivoted DataFrame
print("Pivoted DataFrame:")
print(pivoted_df)

Pivoted DataFrame:
Subject   Name  Math  Science
0        Alice    90       88
1          Bob    78       80
2         John    85       92

In [23]:
# Problem: Calculate the correlation matrix for numeric columns in the DataFrame.

# Create a DataFrame
data = {'Math': [85, 90, 78, 88],
        'Science': [92, 88, 80, 86],
        'English': [87, 84, 83, 90]}

df = pd.DataFrame(data)

# Calculate the correlation matrix
correlation_matrix = df.corr()

# Output the correlation matrix
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
             Math   Science   English
Math     1.000000  0.653721  0.461619
Science  0.653721  1.000000  0.421637
English  0.461619  0.421637  1.000000

# RegEx

In [24]:
# Problem: Extract the domain names from email addresses in a column.

import pandas as pd

# Create a DataFrame with email addresses
data = {'Email': ['john.doe@example.com', 'alice123@company.org', 'bob.smith@edu.net']}
df = pd.DataFrame(data)

# Extract domain names using regex
df['Domain'] = df['Email'].str.extract(r'@([\w.-]+)')

# Output the updated DataFrame
print("Extracted domain names from email addresses:")
print(df)

Extracted domain names from email addresses:
                  Email       Domain
0  john.doe@example.com  example.com
1  alice123@company.org  company.org
2     bob.smith@edu.net      edu.net

In [25]:
# Problem: Filter rows where the 'Email' column contains email addresses ending with '.com'.

# Filter rows using regex
filtered_df = df[df['Email'].str.contains(r'\.com$')]

# Output the filtered DataFrame
print("Filtered rows with '.com' email addresses:")
print(filtered_df)

Filtered rows with '.com' email addresses:
                  Email       Domain
0  john.doe@example.com  example.com

In [26]:
# Problem: Validate phone numbers in a column (format: (XXX) XXX-XXXX).

# Create a DataFrame with phone numbers
data = {'Phone': ['(123) 456-7890', '123-456-7890', '(987) 654-3210']}
df = pd.DataFrame(data)

# Validate phone numbers using regex
df['Valid_Phone'] = df['Phone'].str.match(r'^\(\d{3}\) \d{3}-\d{4}$')

# Output the updated DataFrame
print("Validation of phone numbers:")
print(df)

Validation of phone numbers:
            Phone  Valid_Phone
0  (123) 456-7890         True
1    123-456-7890        False
2  (987) 654-3210         True

In [27]:
# Problem: Extract all numbers from a column of strings.

# Create a DataFrame with mixed strings
data = {'Text': ['Order #12345', 'Item ID: 67890', 'Ref: ABC-9876']}
df = pd.DataFrame(data)

# Extract numbers using regex
df['Numbers'] = df['Text'].str.extract(r'(\d+)')

# Output the updated DataFrame
print("Extracted numbers from strings:")
print(df)

Extracted numbers from strings:
             Text Numbers
0    Order #12345   12345
1  Item ID: 67890   67890
2   Ref: ABC-9876    9876

In [28]:
# Problem: Replace special characters in a column with underscores.

# Replace special characters using regex
df['Cleaned_Text'] = df['Text'].str.replace(r'[^a-zA-Z0-9]', '_', regex=True)

# Output the updated DataFrame
print("Replaced special characters with underscores:")
print(df)

Replaced special characters with underscores:
             Text Numbers    Cleaned_Text
0    Order #12345   12345    Order__12345
1  Item ID: 67890   67890  Item_ID__67890
2   Ref: ABC-9876    9876   Ref__ABC_9876

In [29]:
# Problem: Extract the first word from a column of strings.

# Extract the first word using regex
df['First_Word'] = df['Text'].str.extract(r'^(\w+)')

# Output the updated DataFrame
print("Extracted the first word from strings:")
print(df)

Extracted the first word from strings:
             Text Numbers    Cleaned_Text First_Word
0    Order #12345   12345    Order__12345      Order
1  Item ID: 67890   67890  Item_ID__67890       Item
2   Ref: ABC-9876    9876   Ref__ABC_9876        Ref

In [30]:
# Problem: Identify rows where the 'Text' column contains a specific pattern (e.g., words starting with 'O').

# Find rows with words starting with 'O'
df['Starts_With_O'] = df['Text'].str.contains(r'\bO\w*')

# Output the updated DataFrame
print("Rows where 'Text' contains words starting with 'O':")
print(df)

Rows where 'Text' contains words starting with 'O':
             Text Numbers    Cleaned_Text First_Word  Starts_With_O
0    Order #12345   12345    Order__12345      Order           True
1  Item ID: 67890   67890  Item_ID__67890       Item          False
2   Ref: ABC-9876    9876   Ref__ABC_9876        Ref          False

In [31]:
# Problem: Extract both letters and numbers from a column into separate columns.

# Extract letters and numbers using regex
df[['Letters', 'Digits']] = df['Text'].str.extract(r'([A-Za-z]+).*?(\d+)')

# Output the updated DataFrame
print("Extracted letters and numbers into separate columns:")
print(df)

Extracted letters and numbers into separate columns:
             Text Numbers    Cleaned_Text First_Word  Starts_With_O Letters  \
0    Order #12345   12345    Order__12345      Order           True   Order
1  Item ID: 67890   67890  Item_ID__67890       Item          False    Item
2   Ref: ABC-9876    9876   Ref__ABC_9876        Ref          False     Ref

  Digits
0  12345
1  67890
2   9876

In [32]:
# Problem: Split strings in the 'Text' column into multiple parts based on spaces or special characters.

# Split strings using regex
df['Split_Text'] = df['Text'].str.split(r'[^\w]+')

# Output the updated DataFrame
print("Split strings into multiple parts:")
print(df)

Split strings into multiple parts:
             Text Numbers    Cleaned_Text First_Word  Starts_With_O Letters  \
0    Order #12345   12345    Order__12345      Order           True   Order
1  Item ID: 67890   67890  Item_ID__67890       Item          False    Item
2   Ref: ABC-9876    9876   Ref__ABC_9876        Ref          False     Ref

  Digits         Split_Text
0  12345     [Order, 12345]
1  67890  [Item, ID, 67890]
2   9876   [Ref, ABC, 9876]

In [33]:
# Problem: Identify rows where the 'Text' column contains the word 'Order'.

# Find rows containing the specific word 'Order'
df['Contains_Order'] = df['Text'].str.contains(r'\bOrder\b', regex=True)

# Output the updated DataFrame
print("Rows where 'Text' contains the word 'Order':")
print(df)

Rows where 'Text' contains the word 'Order':
             Text Numbers    Cleaned_Text First_Word  Starts_With_O Letters  \
0    Order #12345   12345    Order__12345      Order           True   Order
1  Item ID: 67890   67890  Item_ID__67890       Item          False    Item
2   Ref: ABC-9876    9876   Ref__ABC_9876        Ref          False     Ref

  Digits         Split_Text  Contains_Order
0  12345     [Order, 12345]            True
1  67890  [Item, ID, 67890]           False
2   9876   [Ref, ABC, 9876]           False

In [34]:
# Problem: Extract all words with exactly 5 characters from a column.

import pandas as pd

# Create a DataFrame
data = {'Text': ['Order ID 12345', 'This is a test', 'Words like hello']}
df = pd.DataFrame(data)

# Extract words with exactly 5 characters
df['Five_Char_Words'] = df['Text'].str.findall(r'\b\w{5}\b')

# Output the updated DataFrame
print("Extracted words with exactly 5 characters:")
print(df)

Extracted words with exactly 5 characters:
               Text Five_Char_Words
0    Order ID 12345  [Order, 12345]
1    This is a test              []
2  Words like hello  [Words, hello]

In [35]:
# Problem: Replace all occurrences of numbers with the string '<NUMBER>'.

# Replace numbers with the string '<NUMBER>'
df['Replaced_Text'] = df['Text'].str.replace(r'\d+', '<NUMBER>', regex=True)

# Output the updated DataFrame
print("Replaced numbers with '<NUMBER>':")
print(df)

Replaced numbers with '<NUMBER>':
               Text Five_Char_Words      Replaced_Text
0    Order ID 12345  [Order, 12345]  Order ID <NUMBER>
1    This is a test              []     This is a test
2  Words like hello  [Words, hello]   Words like hello

In [36]:
# Problem: Identify rows where the 'Text' column contains only alphabetic characters.

# Check if the column contains only alphabetic characters
df['Only_Alphabets'] = df['Text'].str.match(r'^[a-zA-Z\s]+$')

# Output the updated DataFrame
print("Rows where 'Text' contains only alphabets:")
print(df)

Rows where 'Text' contains only alphabets:
               Text Five_Char_Words      Replaced_Text  Only_Alphabets
0    Order ID 12345  [Order, 12345]  Order ID <NUMBER>           False
1    This is a test              []     This is a test            True
2  Words like hello  [Words, hello]   Words like hello            True

In [37]:
# Problem: Extract substrings that are between square brackets (e.g., [content]).

# Add sample data with brackets
data = {'Text': ['This [is] a test', 'Find [words] here', 'No brackets']}
df = pd.DataFrame(data)

# Extract substrings between square brackets
df['Bracket_Content'] = df['Text'].str.extract(r'\[(.*?)\]')

# Output the updated DataFrame
print("Extracted substrings between brackets:")
print(df)

Extracted substrings between brackets:
                Text Bracket_Content
0   This [is] a test              is
1  Find [words] here           words
2        No brackets             NaN

In [38]:
# Problem: Count how many times a specific word (e.g., 'test') appears in each row.

# Count occurrences of the word 'test'
df['Test_Count'] = df['Text'].str.count(r'\btest\b')

# Output the updated DataFrame
print("Count of the word 'test' in each row:")
print(df)

Count of the word 'test' in each row:
                Text Bracket_Content  Test_Count
0   This [is] a test              is           1
1  Find [words] here           words           0
2        No brackets             NaN           0

In [39]:
# Problem: Extract all words starting with the letter 'W'.

# Extract words starting with 'W'
df['Words_Starting_With_W'] = df['Text'].str.findall(r'\bW\w*')

# Output the updated DataFrame
print("Words starting with 'W':")
print(df)

Words starting with 'W':
                Text Bracket_Content  Test_Count Words_Starting_With_W
0   This [is] a test              is           1                    []
1  Find [words] here           words           0                    []
2        No brackets             NaN           0                    []

In [40]:
# Problem: Split the text into a list of words, ignoring punctuation.

# Split text into words ignoring punctuation
df['Split_Words'] = df['Text'].str.split(r'[^\w]+')

# Output the updated DataFrame
print("Split text into words ignoring punctuation:")
print(df)

Split text into words ignoring punctuation:
                Text Bracket_Content  Test_Count Words_Starting_With_W  \
0   This [is] a test              is           1                    []
1  Find [words] here           words           0                    []
2        No brackets             NaN           0                    []

           Split_Words
0  [This, is, a, test]
1  [Find, words, here]
2       [No, brackets]

In [41]:
# Problem: Extract all patterns that look like hashtags (e.g., #example).

# Add sample data with hashtags
data = {'Text': ['This is #fun', '#Python is #awesome', 'No hashtags here']}
df = pd.DataFrame(data)

# Extract all hashtags
df['Hashtags'] = df['Text'].str.findall(r'#\w+')

# Output the updated DataFrame
print("Extracted hashtags from text:")
print(df)

Extracted hashtags from text:
                  Text             Hashtags
0         This is #fun               [#fun]
1  #Python is #awesome  [#Python, #awesome]
2     No hashtags here                   []

In [42]:
# Problem: Replace all hashtags and mentions (e.g., @user) with placeholders.

# Replace hashtags with <HASHTAG> and mentions with <MENTION>
df['Replaced_Text'] = df['Text'].str.replace(r'#\w+', '<HASHTAG>', regex=True).str.replace(r'@\w+', '<MENTION>', regex=True)

# Output the updated DataFrame
print("Replaced hashtags and mentions with placeholders:")
print(df)

Replaced hashtags and mentions with placeholders:
                  Text             Hashtags           Replaced_Text
0         This is #fun               [#fun]       This is <HASHTAG>
1  #Python is #awesome  [#Python, #awesome]  <HASHTAG> is <HASHTAG>
2     No hashtags here                   []        No hashtags here

In [43]:
# Problem: Extract email usernames and domains into separate columns using named groups.

# Add sample email data
data = {'Email': ['john.doe@example.com', 'alice123@company.org', 'test.user@domain.net']}
df = pd.DataFrame(data)

# Extract email parts using named groups
df[['Username', 'Domain']] = df['Email'].str.extract(r'(?P<Username>[\w.]+)@(?P<Domain>[\w.-]+)')

# Output the updated DataFrame
print("Extracted email usernames and domains:")
print(df)

Extracted email usernames and domains:
                  Email   Username       Domain
0  john.doe@example.com   john.doe  example.com
1  alice123@company.org   alice123  company.org
2  test.user@domain.net  test.user   domain.net

In [44]:
# Problem: Highlight specific words (e.g., 'Python' or 'fun') in a column by wrapping them with `**`.

import pandas as pd

# Create a DataFrame
data = {'Text': ['Learning Python is fun', 'Python is amazing', 'Regex is powerful']}
df = pd.DataFrame(data)

# Highlight the words 'Python' or 'fun'
df['Highlighted_Text'] = df['Text'].str.replace(r'\b(Python|fun)\b', r'**\1**', regex=True)

# Output the updated DataFrame
print("Highlighted specific words:")
print(df)

Highlighted specific words:
                     Text                Highlighted_Text
0  Learning Python is fun  Learning **Python** is **fun**
1       Python is amazing           **Python** is amazing
2       Regex is powerful               Regex is powerful

In [45]:
# Problem: Extract all email addresses from a column containing text.

# Add sample data with embedded emails
data = {'Text': ['Contact us at support@example.com or admin@domain.net.',
                 'Send an email to test.user@service.org for help.',
                 'No email here.']}
df = pd.DataFrame(data)

# Extract all email addresses
df['Emails'] = df['Text'].str.findall(r'[\w.]+@[\w.-]+\.\w+')

# Output the updated DataFrame
print("Extracted email addresses:")
print(df)

Extracted email addresses:
                                                Text  \
0  Contact us at support@example.com or admin@dom...
1   Send an email to test.user@service.org for help.
2                                     No email here.

                                    Emails
0  [support@example.com, admin@domain.net]
1                  [test.user@service.org]
2                                       []

In [46]:
# Problem: Extract sentences that contain the word 'email'.

# Add sample data with multiple sentences
data = {'Text': ['Send an email to support@example.com.',
                 'This is a test sentence.',
                 'Emails are important for communication.']}
df = pd.DataFrame(data)

# Extract sentences containing the word 'email'
df['Email_Sentences'] = df['Text'].str.extract(r'([^\.]*\bemail\b[^\.]*)', expand=False)

# Output the updated DataFrame
print("Extracted sentences containing 'email':")
print(df)

Extracted sentences containing 'email':
                                      Text                   Email_Sentences
0    Send an email to support@example.com.  Send an email to support@example
1                 This is a test sentence.                               NaN
2  Emails are important for communication.                               NaN

In [47]:
# Problem: Extract dates in formats like 'YYYY-MM-DD', 'MM/DD/YYYY', or 'DD.MM.YYYY'.

# Add sample data with mixed date formats
data = {'Text': ['Event on 2023-01-15.', 'Deadline: 02/20/2023.', 'Date: 15.03.2023.', 'No date here.']}
df = pd.DataFrame(data)

# Extract dates
df['Dates'] = df['Text'].str.extract(r'(\b\d{4}-\d{2}-\d{2}\b|\b\d{2}/\d{2}/\d{4}\b|\b\d{2}\.\d{2}\.\d{4}\b)')

# Output the updated DataFrame
print("Extracted dates:")
print(df)

Extracted dates:
                    Text       Dates
0   Event on 2023-01-15.  2023-01-15
1  Deadline: 02/20/2023.  02/20/2023
2      Date: 15.03.2023.  15.03.2023
3          No date here.         NaN

In [48]:
# Problem: Mask sensitive data like email addresses or phone numbers in a column.

# Add sample data with sensitive information
data = {'Text': ['Contact: john.doe@example.com, Phone: (123) 456-7890.',
                 'Email: alice123@domain.org.', 
                 'No sensitive data here.']}
df = pd.DataFrame(data)

# Mask sensitive data
df['Masked_Text'] = df['Text'].str.replace(r'[\w.]+@[\w.-]+\.\w+', '[EMAIL]', regex=True) \
                              .str.replace(r'\(\d{3}\) \d{3}-\d{4}', '[PHONE]', regex=True)

# Output the updated DataFrame
print("Masked sensitive data:")
print(df)

Masked sensitive data:
                                                Text  \
0  Contact: john.doe@example.com, Phone: (123) 45...
1                        Email: alice123@domain.org.
2                            No sensitive data here.

                         Masked_Text
0  Contact: [EMAIL], Phone: [PHONE].
1                    Email: [EMAIL].
2            No sensitive data here.

In [49]:
# Problem: Extract the initials from a full name in a column.

# Add sample data with names
data = {'Name': ['John Doe', 'Alice B. Wonderland', 'Charlie']}
df = pd.DataFrame(data)

# Extract initials
df['Initials'] = df['Name'].str.extractall(r'\b(\w)') \
                           .groupby(level=0)[0].apply(''.join)

# Output the updated DataFrame
print("Extracted initials:")
print(df)

Extracted initials:
                  Name Initials
0             John Doe       JD
1  Alice B. Wonderland      ABW
2              Charlie        C

In [50]:
# Problem: Identify all non-alphanumeric characters in a column.

# Add sample data with mixed characters
data = {'Text': ['Hello, World!', 'Regex is #1!', 'No_special*characters']}
df = pd.DataFrame(data)

# Find non-alphanumeric characters
df['Non_Alphanumeric'] = df['Text'].str.findall(r'[^\w\s]')

# Output the updated DataFrame
print("Non-alphanumeric characters found:")
print(df)

Non-alphanumeric characters found:
                    Text Non_Alphanumeric
0          Hello, World!           [,, !]
1           Regex is #1!           [#, !]
2  No_special*characters              [*]

In [51]:
# Problem: Extract consecutive sequences of digits (e.g., 12345).

# Add sample data with numbers
data = {'Text': ['Order12345', 'ID 67890 and 1234', 'No numbers']}
df = pd.DataFrame(data)

# Extract sequences of digits
df['Numbers'] = df['Text'].str.findall(r'\d+')

# Output the updated DataFrame
print("Extracted sequences of digits:")
print(df)

Extracted sequences of digits:
                Text        Numbers
0         Order12345        [12345]
1  ID 67890 and 1234  [67890, 1234]
2         No numbers             []

In [52]:
# Problem: Validate URLs in a column.

# Add sample data with URLs
data = {'Text': ['https://example.com', 'www.google.com', 'invalid-url', 'http://test.org']}
df = pd.DataFrame(data)

# Validate URLs
df['Valid_URL'] = df['Text'].str.match(r'^https?://[^\s/$.?#].[^\s]*$')

# Output the updated DataFrame
print("Validation of URLs:")
print(df)

Validation of URLs:
                  Text  Valid_URL
0  https://example.com       True
1       www.google.com      False
2          invalid-url      False
3      http://test.org       True

In [53]:
# Problem: Extract hashtags but ensure they are standalone words (not part of a longer string).

import pandas as pd

# Create a DataFrame with sentences containing hashtags
data = {'Text': ['#fun #learning is great', 'Code with #Python3 is fun', 'This is #coolstuff!','#cool']}
df = pd.DataFrame(data)

# Extract standalone hashtags
df['Standalone_Hashtags'] = df['Text'].str.findall(r'#\w+')

# Output the updated DataFrame
print("Extracted standalone hashtags:")
df

Extracted standalone hashtags:

                        Text Standalone_Hashtags
0    #fun #learning is great   [#fun, #learning]
1  Code with #Python3 is fun          [#Python3]
2        This is #coolstuff!        [#coolstuff]
3                      #cool             [#cool]